:host {
  all: initial;
}

select,
input {
  font-size: 16px;
}

input::-webkit-date-and-time-value {
  text-align: left;
}

main {
  background-image: url("sample.png");
  background-repeat: no-repeat;
  background-size: cover;
  background: transparent;
}

main * {
  visibility: initial;
  box-sizing: border-box;
}

main.init svg,
main.init .result,
main.init .control {
  display: none;
}

main:not(.init) .form {
  display: none;
}

main.init .info {
  display: none;
}

main.is-loading section.form form {
  display: none;
}

main:not(.is-loading) section.form progress {
  display: none;
}

progress {
  width: 100%;
}

button {
  cursor: pointer;
  background: #094166;
  color: #ffffff;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 2em;
}

h1 {
  text-align: center;
}

form {
  display: grid;
  gap: 8px;
}

form input,
form select {
  height: 100%;
  border: none;
  margin: 0 1em;
  background: transparent;
}

form > div:last-child {
  text-align: center;
}

.result {
  margin: 1.6vw 4vw;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8px;
}

.result > div:nth-of-type(3),
.result > div:nth-of-type(10) {
  grid-column: 1 / -1;
}

.labeled {
  display: grid;
  grid-template-columns: 3.7em 1px auto;
  align-items: center;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  flex-basis: 100%;
}

.labeled > label {
  text-align: center;
  margin: 1.7em 0;
  font-size: 0.57em;
  color: #808080;
  letter-spacing: 0.2em;
}

.labeled > hr {
  border: 1px solid #e1e1e1;
  align-self: stretch;
}

.labeled > span {
  text-align: center;
  color: #094166;
  font-weight: bold;
  font-size: 0.82em;
  letter-spacing: 0.2em;
}

.control {
  display: grid;
  gap: 8px;
}

.control > div {
  text-align: center;
  width: 100%;
}

.control > div > input {
  width: 100%;
}

.control.is-multi .multi {
  display: none;
}

.control:not(.is-multi) .slider {
  display: none;
}

.control.is-loading button {
  display: none;
}

.control:not(.is-loading) progress {
  display: none;
}

@media (orientation: landscape) {
  main {
    display: flex;
    align-items: flex-start;
  }

  main .form {
    flex-grow: 1;
  }

  main .info {
    min-width: 26em;
  }

  svg {
    flex: 1 0 auto;
    max-width: 750px;
  }
}
